body{
    height: 100vh;
    margin: 0px;
}

nav{
    background-color: #04002c;
    padding: 30px;
}

.top-content{
    background: linear-gradient(-22.5deg, #9500ff, #b500eb, #db00c0, #ea0069);
    color: #FFFFFF;
    /* width: 700px; */
    width: 100vw;
    height: 70vh;
    
    margin: auto;
    /* margin-top: 100px; */
    text-align: center;
    /* padding: 130px 0px; */
    padding-top: 100px;
    padding-bottom: 50px;


}

.top-content h1{
    text-shadow: 2px 2px 4px #0000006d;
    font-family: 'Handjet';
    font-size: 80px;
    font-weight: 600;
    margin-top: 0;
}

.top-content p{
    font-size: 30px;
    width: 650px;
    margin: auto;
    font-weight: 400;
    font-family: 'Handjet';
    text-shadow: 1px 1px 3px #0000006d;
    margin-top: 60px;
}

.quiz-section{
    margin-top: 100px;
}